body, html {
	height: 100%;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
}

#background {
	background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.content {
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}

#clouds {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.cloudImg {
	position: absolute;
	left: 1px;
	top: 1px;
	-webkit-animation: drift 120s linear infinite;
	-moz-animation: drift 120s linear infinite;
	-o-animation: drift 120s linear infinite;
}
@-webkit-keyframes drift{
	0% {left: 0%; opacity: 0.0;}
	10% {left: 10%; opacity: 1.0;}
	70% {left: 70%; opacity: 1;}
	80% { left: 80%; opacity: 0.0;}
	100% {left: 100%; opacity: 0.0;}
}
@-moz-keyframes drift{
	0% {left: 0%; opacity: 0.0;}
	10% {left: 10%; opacity: 1.0;}
	70% {left: 70%; opacity: 1;}
	80% { left: 80%; opacity: 0.0;}
	100% {left: 100%; opacity: 0.0;}
}
@-o-keyframes drift{
	0% {left: 0%; opacity: 0.0;}
	10% {left: 10%; opacity: 1.0;}
	70% {left: 70%; opacity: 1;}
	80% { left: 80%; opacity: 0.0;}
	100% {left: 100%; opacity: 0.0;}
}

#location {
	background-color: transparent;
	border-style: none;
	color: #000000;
	font-family: 'Caveat', cursive;
	font-size: 200%;
	text-align: center;
	width: 60%;
	-webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    padding: 0.2%;
}
#location:focus {
	background-color: #eeeeee;
	-webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
	outline: none;
}

#submitButton {
	background-color: #cccccc;
	border: 0;
	font-family: 'Marvel', sans-serif;
	font-size: 200%;
	margin-top: 20px;
	text-align: center;
	padding: 0% 1%;
}
#submitButton:hover {
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}
#submitButton:active {
	background-color: #000000;
	color: #ffffff
	outline:none;
}

p {
	font-family: 'Marvel', sans-serif;
	font-size: 800%;
	position: relative;
	padding: 10% 0 5% 0;
	margin: 0;
}